@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "../Shared/_AuthLayout.cshtml";
}
<main>
    <h1>403 Access Denied</h1>
    <p>
        Role anda tidak memiliki akses akan feature/request ini.
        Untuk mengetahui secara detail apa yang role anda bisa akses, silahkan hubungin management.
    </p>
    <div>
        <a asp-action="Login"> Kembali ke landing page</a>
    </div>
</main>