
@using System.Security.Claims
@{
    Layout="../Shared/_AuthLayout.cshtml";
    var user = User as ClaimsPrincipal;

    var username = user?.FindFirst("username")?.Value;
    var role = user?.FindFirst(ClaimTypes.Role)?.Value;
}
@model UserChangePasswordViewModel
 <form class="upsert-form" method="post" >
    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <div class="field-validation-error">
            <span>@ViewBag.ErrorMessage</span>
        </div>
    }
            <table>
                <tbody>
                <tr>
                    <td>
                        <label asp-for="Username">Username</label>
                    </td>
                    <td>
                        <input asp-for="Username" type="hidden">
                        <span>@username</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="OldPassword" >Old Password</label>
                    </td>
                    <td>
                        <input asp-for="OldPassword" type="password">
                        <span asp-validation-for="OldPassword"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="NewPassword" >New Password</label>
                    </td>
                    <td>
                        <input asp-for="NewPassword" type="password">
                        <span asp-validation-for="NewPassword"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="ConfirmNewPassword" >New Password Confirmation</label>
                    </td>
                    <td>
                        <input asp-for="ConfirmNewPassword" type="password">
                    </td>
                </tr>
                </tbody>
            </table>
            <button type="submit">Change Password</button>
        </form>